<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecondScreen-Shared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SecondScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SecondScreenTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Share-VR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E11AFDF31E10355F009C7E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E154DB711E29A63E00250A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1763ABE1E3CFBA200B0659B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1955D461E363E1600546A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
